.Button {
  background-color: rgb(236 , 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  /* 버튼 안 텍스트를 화면이 줄어들더라도 줄바꿈 되지 않도록 */
  white-space: nowrap;
}

.Button_POSITIVE {
  background-color: rgb(96, 183, 96);
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(251, 94, 94);
  color: white;
}