.DiaryList .menu_bar {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}

.DiaryList .menu_bar select {
  background-color: rgb(235,235,235);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  flex: 1;
}